###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [4]:
num=[1,2,3,4]
print(num)

[1, 2, 3, 4]

# print(num)

** 1. Remove number "3" in a list**

In [6]:
# Method 1 
num=[1,2,3,4]
num.remove(3)
print(num)

[1, 2, 4]

In [7]:
# Method 2
num=[1,2,3,4,5,6,7,8,9]
num.pop()

9

In [8]:
# Method 3
num=[1,2,3,4,5]
num.pop(2)

3

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [1]:
num=[1,2,3,4]
print(num.pop())

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [2]:
num=[1,2,3]
print(num.pop(0)) #removes  0th position
print(num)

1
[2, 3]

In [33]:
         # removes zeroth position

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [5]:
# Method1 using extend
num=[1,2]
print(num)
to_add=[3,4]
print(to_add)
num.extend(to_add)
print(num)

[1, 2]
[3, 4]
[1, 2, 3, 4]

In [6]:
#Method 2 using append
num=[1,2]
print(num)
num.append(3)
print(num)
num.append(4)
print("final output:",num)

[1, 2]
[1, 2, 3]
final output: [1, 2, 3, 4]

In [7]:
#method using slicing
num=[1,2]
print(num)
num[len(num):] = [3,4]
print("final list by using slicing:",num)

[1, 2]
final list by using slicing: [1, 2, 3, 4]

In [9]:
# method using plus operater
num=[1,2]
print(num)
nums=[3,4]
print(nums)
final_output=num+nums
print("the final out is using plus:",final_output)

[1, 2]
[3, 4]
the final out is using plus: [1, 2, 3, 4]

In [11]:
#method using chain libary
from itertools import chain
list1=[1,2]
list2=[3,4,5]
list3=[6,7,8]
final_list=(list(chain(list1,list2,list3)))
print(final_list)

[1, 2, 3, 4, 5, 6, 7, 8]

**Insert number "1" in 0th position**

In [2]:
num=[2,3,4]
num.insert(0,1) #inserts the "1" at 0th position
print(num)

[1, 2, 3, 4]

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [13]:
#inserting two_and_half in 2nd position
list1=[1,2,3,4]
print("before insert:",list1)
list1.insert(2,"two_and_half")
print("after inserting two-and-half the final result:",list1)

before insert: [1, 2, 3, 4]
after inserting two-and-half the final result: [1, 2, 'two_and_half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [6]:
plist='don\'t panic!'
print(plist)

don't panic!

*convert into list*

In [16]:
plist1=list(plist)
plist1

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [9]:
plist = list(text)
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [17]:
plist1.remove("'")
plist1.remove("!")
plist1

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [19]:
plist1.remove('D')
plist1.remove('p')
plist1.remove('a')
var=plist1.pop(4)
temp_list=['p','a','n','D']
plist1.extend(temp_list)
plist1

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [25]:
plist2=plist1[6:]
plist2

['p', 'a', 'n', 'D']

- append list

In [26]:
print(plist2)

['p', 'a', 'n', 'D']

In [13]:
plist1

['p', 'a', 'n', 'i', 'c', '!']

- Join list

In [32]:
plist3=''.join(plist2[0:5])
plist3

'panDa'

In [31]:
plist2.pop()
plist2

['p', 'a', 'n', 'D', 'a']

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [86]:
# CODE HERE
nums
print(type(nums))
print(nums)

<class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [90]:
# CODE HERE
list1=list(nums)
print(list1)
list1.remove(35)
print(list1)
tuple1=tuple(list1)
print(tuple1)

[31, 24, 35, 85]
[31, 24, 85]
(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [96]:
# CODE HERE
(tuple1)
list2=list(tuple1)
list2

[31, 24, 85]

In [99]:
list2.append(19)

In [100]:
list2

[31, 24, 85, 85, 19]

In [101]:
tuple2=tuple(list2)
print(tuple2)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [39]:
x=('523665')
print(type(x),x)
y=list(x)
print(type(y),y)
y.sort(reverse=True)
y

<class 'str'> 523665
<class 'list'> ['5', '2', '3', '6', '6', '5']

['6', '6', '5', '5', '3', '2']

In [42]:
set1=set(y)
set1
list1=list(set1)
list1

['6', '3', '5', '2']

In [44]:
list1.sort(reverse=True)
print(list1)
list1[1] #gives the second highest

['6', '5', '3', '2']

'5'

In [2]:
# CODE HERE-
x=list(input("enter the list values"))

5 2 4 6 2 2
second higest is : 5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [47]:
# CODE HERE
list_com = [12,24,35,70,88,120,155]
print('The given list is', list_com,'\n')

print('The 0th, 4th and 5th numbers in the list are',list_com[0],list_com[4],list_com[5],'\n')

list_com.pop(0)
print('The new list after removing 0th number is:',list_com,'\n')

list_com.pop(3) #the value 88 at 4th position in the original list, is now at 3rd position in the new list
print('The new list after removing 4th number is:',list_com,'\n')

list_com.pop(3)#the value 120 at 5th position in the original list, is now at 3rd position in the new list
print('The new list after removing 4th number is:',list_com,'\n')

print('The final output is:', list_com)

The given list is [12, 24, 35, 70, 88, 120, 155]

The 0th, 4th and 5th numbers in the list are 12 88 120

The new list after removing 0th number is: [24, 35, 70, 88, 120, 155]

The new list after removing 4th number is: [24, 35, 70, 120, 155]

The new list after removing 4th number is: [24, 35, 70, 155]

The final output is: [24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [49]:
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple1
tup_1st=tuple1[0:5]
tup_2nd=tuple1[5:]
print("1 st half is:",tup_1st,'\n')
print("2 nd half is:",tup_2nd)

1 st half is: (1, 2, 3, 4, 5)

2 nd half is: (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [50]:
ori_tup=(1,2,3,4,5,6,7,8,9,10)
ori_tup
even_tup=ori_tup[1::2]
print("even numbers in the given tuples is:",even_tup)

even numbers in the given tuples is: (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)