###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [20]:
# CODE HERE
person1={"Name":"Srikanth",
         "Gender":"Male",
         "Occupation":"Data Scientist",
         "Location":"Nizampet,Hyderabad"}

print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet,Hyderabad'}

In [3]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

In [11]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [9]:
# CODE HERE
x=person1.keys()
print(x)

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

In [10]:
#  CODE HERE
y=person1.values()
print(y)

dict_values(['Srikanth', 'Male', 'Data Scientist', 'Nizampet,Hyderabad'])

In [23]:
a=person1.values()
print(a)
b=person1.items()
print(b)

dict_values(['Srikanth', 'Male', 'Data Scientist'])
dict_items([('Name', 'Srikanth'), ('Gender', 'Male'), ('Occupation', 'Data Scientist')])

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [12]:
# CODE HERE
person1["Age"]=27
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad',
 'Age': 27}

In [5]:
person1

{'Age': 27,
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Remove Location in person1

In [21]:
# CODE HERE
person1.pop("Location")
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [25]:
# CODE HERE
person2={"Name":"Raghu",
        "gender":"Male",
        "Age":25,
        "Occupation":"Data Scientist"}
print(person2)

{'Name': 'Raghu', 'gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [26]:
person2

{'Name': 'Raghu', 'gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [9]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [28]:
print('='*25,'person1','='*25)
print(person1)
print('='*25,'person2','='*25)
print(person2)

========================= person1 =========================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist'}
========================= person2 =========================
{'Name': 'Raghu', 'gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [10]:
# CODE HERE to append

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [31]:
# CODE HERE
dict_1={1:1,2:4,3:9,4:16,5:25,6:36,7:49}
dict_1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [37]:
print(dict_1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 0: 1}

In [38]:
from collections import OrderedDict
dict_2=OrderedDict(dict_1)
print(dict_2)

OrderedDict([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (0, 1)])

In [40]:
dict_1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 0: 1, 9: 81}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [1]:
# CODE HERE
dict1={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

import operator
sortDesc = dict(sorted(dict1.items(), key=operator.itemgetter(1),reverse=True))

sortDesc

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

In [2]:
dict1

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [ ]:
# CODE HERE 
-----can't  understand i will check with mentors------

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [9]:
dict4=({**dict1,**dict2,**dict3})
print(dict4)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [7]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)